body{
    background-color: #04040c;
    background-image: image-set("/images/it-banner.png");
    background-repeat: no-repeat;
    background-size: 100%;
    color: #fff;
}
.header{
    font-size: 30px;
    background-color: #2A629A;
    background-image: image-set("/images/banner.png");
    background-blend-mode:multiply;
    height: 50px;
    position:fixed;
    width: 100%;
}
.header a{
    color: #fff;
    font-size: 30px;
    text-decoration: none;
    padding-left: 30px;
    margin: 10px;
}
.left-main{
    display: inline-block;
    margin-top: 200px;
    margin-left: 120px;
}
.left-main button{
    color: #fff;
    width: 300px;
    height: 100px;
    border: none;
    border-radius: 12px;
    font-size: 30px;
    animation-name: unhover;
    animation-duration: 3s;
    background-color: #2A629A;
}
.left-main button:hover{
    animation-name: hover;
    animation-duration: 3s;
    background-color: #003285;
}
.signup{
    display: none;
    background-color: #003285;
    border-radius: 12px;
    height: 50%;
    width: 25%;
    position: fixed;
    margin-top: -20%;
    margin-left: 40%;
    text-align: center;
}
.signup *{
    margin-top: 22px;
}
.signup button{
    margin-top: 25%;
    background-color: #2A629A;
    color: #fff;
    height: 50px;
    width: 200px;
    border: none;
    border-radius: 12px;
}
.login{
    display: none;
    background-color: #003285;
    border-radius: 12px;
    height: 50%;
    width: 25%;
    position: fixed;
    margin-top: -20%;
    margin-left: 40%;
    text-align: center;
}
.login *{
    margin-top: 22px;
}
.login button{
    margin-top: 25%;
    background-color: #2A629A;
    color: #fff;
    height: 50px;
    width: 200px;
    border: none;
    border-radius: 12px;
}
.ratings{
    margin-top: 30%;
    margin-left: 40%;
    text-align: center;
    display: inline-block;
    border-radius: 12px;
    background-color: #2A629A;
}
.rating{
    font-size: 40px;
}
.comments{
    margin-top: 12%;
    margin-left: 30px;
}
.comments *{
    margin-top: 20px;
    background-color: #2c2c2c;
    border-radius: 12px;
}
.cr{
    background-color: #000;
    margin-top: 20%;
}
@keyframes hover {
    0%{
        background-color: #2A629A;
    }
    100%{
        background-color: #003285;
    }
}
@keyframes unhover {
    0%{
        background-color: #003285;
    }
    100%{
        background-color: #2A629A;
    }
}